{% extends 'base_generic.html' %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-4">My Profile</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" class="card-img-top rounded-circle" alt="Profile Picture">
                {% else %}
                    <img src="{% static 'images/default_profile.png' %}" class="card-img-top rounded-circle " alt="Profile Picture">
                {% endif %}
                <div class="card-body text-center">
                    <h4 class="card-title">{{ user.username }}</h4>
                    <p class="card-text">{{ user.bio }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">User Information</h5>
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Role:</strong> 
                        {% if user.is_student %}Student{% elif user.is_instructor %}Instructor{% elif user.is_admin %}Admin{% endif %}
                    </p>
                    <a href="{% url 'exam_list' %}" class="btn btn-custom">View My Exams</a>
                    <a href="{% url 'edit_profile' %}" class="btn btn-secondary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
