{% extends 'base_generic.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-success mb-4">{{ exam.title }}</h2>
    <div id="timer" class="mb-4"></div>
    <form id="exam-form" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {% for question in questions %}
        <div class="card mb-4 shadow-sm border-success rounded">
            <div class="card-body">
                <h4 class="card-title">Question {{ forloop.counter }}</h4>
                <div class="form-group mb-4">
                    <label class="text-success"><strong>{{ question.text }}</strong></label>
                </div>

                <h5 class="mb-3 text-success">Answers for Question {{ forloop.counter }}</h5>
                {% for answer in question.answers.all %}
                <div class="form-group mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input class="form-check-input" type="radio" name="question_{{ question.id }}" value="{{ answer.id }}" id="answer_{{ answer.id }}" required>
                            </div>
                        </div>
                        <label class="form-check-label form-control" for="answer_{{ answer.id }}">{{ answer.text }}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-success btn-lg btn-block mt-4 mb-5">Submit Exam</button>
    </form>
</div>

<script>
    const examDuration = {{ exam.duration }} * 60; 
    const startTime = new Date('{{ submission.start_time|date:"c" }}').getTime();
    const endTime = startTime + (examDuration * 1000);
    const answeredDict = JSON.parse('{{ answered_dict|safe }}');
    let formSubmitted = false;
    let tempAnswers = JSON.parse('{{ answered_dict|safe }}');
    let hasChanges = false;

        function updateTempAnswers(questionId, answerId) {
        tempAnswers[questionId] = answerId;
        hasChanges = true;
        saveTempAnswers();
    }

    function saveTempAnswers() {
        if (!hasChanges) {
            return;
        }
    
        const formData = new FormData();
        formData.append('save_temp_answers', 'true');
        formData.append('temp_answers', JSON.stringify(tempAnswers));
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    
        fetch('', {
            method: 'POST',
            body: formData,
        }).then(response => {
            if (!response.ok) {
                return response.json().then(data => {
                    throw new Error(data.message || 'An unknown error occurred');
                });
            }
            return response.json();
        }).then(data => {
            if (data.status === 'success') {
                console.log('Temp answers saved successfully');
                hasChanges = false;
            } else {
                console.error('Error saving temp answers:', data.message);
            }
        }).catch(error => {
            console.error('Fetch error: ', error);
        });
    }

    function submitExam() {
        if (!formSubmitted) {
            formSubmitted = true;
            saveTempAnswers();
            const form = document.getElementById("exam-form");
            const finishExamInput = document.createElement('input');
            finishExamInput.type = 'hidden';
            finishExamInput.name = 'finish_exam';
            finishExamInput.value = 'true';
            form.appendChild(finishExamInput);
            form.submit();
        }
    }

    function updateTimer() {
        const now = new Date().getTime();
        const distance = endTime - now;

        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("timer").innerHTML = `Time remaining: ${hours}h ${minutes}m ${seconds}s`;

        if (distance < 0) {
            clearInterval(timerInterval);
            document.getElementById("timer").innerHTML = "EXPIRED";
            submitExam();
        }
    }

    document.querySelectorAll('input[type="radio"]').forEach(radio => {
        radio.addEventListener('change', function() {
            updateTempAnswers(this.name.split('_')[1], this.value);
        });
    });

    for (const [questionId, answerId] of Object.entries(tempAnswers)) {
        const radio = document.querySelector(`input[name="question_${questionId}"][value="${answerId}"]`);
        if (radio) {
            radio.checked = true;
        }
    }



    document.getElementById("exam-form").addEventListener('submit', function(e) {
        e.preventDefault();
        submitExam();
    });

    updateTimer();
    const timerInterval = setInterval(updateTimer, 1000);
</script>

{% endblock %}